[submodule "submodules/simple-knn"]
	path = submodules/simple-knn
	url = https://gitlab.inria.fr/bkerbl/simple-knn.git
[submodule "submodules/fused-ssim"]
	path = submodules/fused-ssim
	url = https://github.com/XiShuFan/fused-ssim.git
[submodule "submodules/diff-gaussian-rasterization-segment"]
	path = submodules/diff-gaussian-rasterization-segment
	url = https://github.com/XiShuFan/diff-gaussian-rasterization-segment.git
